@model CrudApplication.Models.Category
@{
    ViewBag.Title = "Edit Category";
}

<h2>Edit Category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
}
